/*----:[Colors]:--- */
$black: #302b2f;
$green: #00b6a5;
$blue: #1b75bb;
$white: white;
$grey: #dedede;
$gray: #dedede;

$red: #f1979e;
$yellow: #eacd2f;

/*----:[Typography]:---- */
@mixin sans {
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
}

$base-font-size: 14px;
$base-line-height: $base-font-size * 1.6;

$base-font-family: "Open Sans", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
