/*----:[Colors]:--- */
/*----:[Typography]:---- */
/* CSS Based UI Kit
 * Styling Buttons, Fields and other UI elements
 * Inspired by: */
/*---- Buttons and UI kits --> */
.btn_container {
  display: inline;
}

.im-checkout-btn {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: block;
  font-family: "Open Sans", "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.im-checkout-btn.btn--light {
  color: white;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 1px;
  padding: 0.6em 0.7em;
  border: 1px solid rgba(59, 121, 50, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  background: #75c16a;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.25));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.25));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.25));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  line-height: 1.2em;
  margin: 0.3em 0;
}
.im-checkout-btn.btn--light:focus, .im-checkout-btn.btn--light:hover {
  color: white;
  background: #86c87c;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.35));
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.45), inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.45), inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.45), inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.im-checkout-btn.btn--light:active, .im-checkout-btn.btn--light.active {
  text-shadow: none;
  color: #eeeeee;
  background: #68bb5c;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.3);
}
.im-checkout-btn.btn--light:hover, .im-checkout-btn.btn--light:focus, .im-checkout-btn.btn--light.active {
  text-decoration: none;
}
.im-checkout-btn.btn--dark {
  color: #302b2f;
  letter-spacing: 1px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 1px 1px;
  padding: 0.6em 0.7em;
  border: 1px solid rgba(186, 160, 19, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  background: #efd85d;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.25));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.25));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.25));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2);
  line-height: 1.2em;
  margin: 0.3em 0;
  letter-spacing: 0px;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.4) 0 1px;
}
.im-checkout-btn.btn--dark:focus, .im-checkout-btn.btn--dark:hover {
  color: #3d373c;
  background: #f1de74;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.35));
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.45), inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.45), inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.45), inset 0 0 0 1px rgba(255, 255, 255, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}
.im-checkout-btn.btn--dark:active, .im-checkout-btn.btn--dark.active {
  text-shadow: none;
  color: #eeeeee;
  background: #edd44b;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.3);
}
.im-checkout-btn.btn--flat {
  background: #75c16a;
  box-shadow: none;
  border: 1px solid #56af49;
  text-shadow: none;
  border-radius: 1.5em;
  padding: 0.6em 1em;
  color: white;
}
.im-checkout-btn.btn--flat:focus, .im-checkout-btn.btn--flat:hover {
  background: white;
  color: #75c16a;
  text-shadow: none;
  box-shadow: none;
}
.im-checkout-btn.btn--flat-dark {
  background: white;
  box-shadow: none;
  border: 1px solid #e6e6e6;
  text-shadow: none;
  border-radius: 1.5em;
  padding: 0.6em 1em;
  color: #75c16a;
}
.im-checkout-btn.btn--flat-dark:focus, .im-checkout-btn.btn--flat-dark:hover {
  background: #75c16a;
  color: white;
  text-shadow: none;
  box-shadow: none;
}
