#mojo-link input {
	position: relative;
	color: #b8e0ff;
	text-decoration: none;
    width: 160px;
    margin: 0 auto;
	background: #0570c2;
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 1.3em;
	display: block;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 9px 0px #32a0fb, 0px 9px 25px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 9px 0px #32a0fb, 0px 9px 25px rgba(0,0,0,.7);
	box-shadow: 0px 9px 0px #32a0fb, 0px 9px 25px rgba(0,0,0,.7);
	text-align: center;

	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}



